/* For Small Devices */
@media screen and (max-width:999px){
    #container {
        width: 100%;
        height: 100%;
        background-color: #232946;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #nav{
        width: 100%;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top:1vw;
        z-index: 7;
    }
    #navbar{
        width: 300px;
        height: 5vh;
    }
    #logo a{
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logo img{
        width: 4vw;
        border-radius: 100%;
        filter: grayscale(1);
    }
    #menu{
        width: 10%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3vw;
        cursor: pointer;
    }
    #menu-bar{
        width: 70%;
    }
    #menu-bar a{
        font-size: 5vw;
    }
    .cross{
        font-size: 5vw;
    }
    #nav-div{
        width: 0%;
        height: 0%;
        display: none;
    }
    #nav-div ul{
        display: none;
    }
    #switch{
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #home{
        display: flex;
        flex-direction: column;
    }
    .home-div{
        width: 100%;
    }
    .home-div1{
        height: 70%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 0%;
        gap: 2vh;
    }
    .home-div1 h1{
        margin-left: 10%;
        font-size: 32px;
    }
    .home-div1 p{
        margin-left: 10%;
        font-size: 22px;
    }
    #cv{
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1vw;
    }
    #social-media{
        width: 100%;
        height: 10%;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content:flex-start;
        gap: 5%;
        padding-left: 10%;
    }
    #fbook,#igram,#ldin{
        color: #b8c1ec;
        transition: all 0.5;
    }
    #fbook:hover,#igram:hover,#ldin:hover{
        transform: scale(1.1);
    }
    #chakri{
        width: 5vw;
        position: absolute;
        top: 10%;
        left:20%;
    }
    #chakri2{
        width: 5vw;
        position: absolute;
        top:90%;
        right:10%;
        z-index: 0;
        animation: chakri 1s infinite;
    }
    #chakri3{
        width: 5vw;
        position: absolute;
        top:50%;
        left:10%;
        z-index: 0;
    }
    .links{
        width: 15vw;
        height: 6vh;
        font-size: 2vw;
        margin-left: 10%;
    }
    .font-with-icon{
        font-size: 2vw;
    }
    .home-div2{
        height: 30%;
    }
    #imgdiv{
        width: 300px;
        height: 300px;
    }
    #imgdiv img{
        width: 100%;
        height: 100%;
        filter: grayscale(1);
        cursor: pointer;
    }
    .img-div{
        width: 50%;
        height: 50%;
    }
    #about{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
    }
    #about-div1{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10%;
    }
    #about-img{
        width: 60%;
        border-radius: 50px 0px 50px 0;
        border: 5px solid #b8c1ec;
        opacity: 1;
        box-shadow: 0px 0px 30px #b8c1ec;
    }
    #about-div2{
        width: 100%;
        height: 50%;
        color: #b8c1ec;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
        flex-direction: column;
        gap: 5%;
        font-size: 2vw;
        font-weight: 600;
        opacity: 1;
    }
    #about-div2 h1{
        font-size: 3vw;
        text-decoration: underline;
    }
    #about-div2 p{
        width: 80%;
    }
    #skills{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    #skills h1{
        position: absolute;
        top: -3%;
        color: #b8c1ec;
        text-decoration: underline;
        text-transform: uppercase;
    }
    .tech{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-wrap: wrap;
    }
    .tech-box{
        width: 25%;
        height: 25%;
        background-color: #b8c1ec;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0px 0px 20px #b8c1ec;
        transition: all 0.5s ease;
        z-index: 1;
        cursor: pointer;
        margin-inline: 2%;
    }
    .tech-box:hover{
        transform: scale(1.05);
    }
    .progress-text{
        width: 12vw;
        height: 10vh;
        margin-top: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        color: #232946;
    }
    .progress-text i,h2{
        font-size: 2vw;
    }
    [role="progressbar"] {
        --percentage: var(--value);
        --primary: #369;
        --secondary: #adf;
        --size: 55px;
        animation: progress 2s 0.5s forwards;
        width: var(--size);
        aspect-ratio: 1;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        display: grid;
        place-items: center;
      }
    #projects{
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding: 0 35px;
        align-items: center;
        justify-content: space-evenly;
        min-height: 100vh;
    }
    #projects h1{
        margin-top: 1%;
        color: #b8c1ec;
        text-decoration: underline;
        text-transform: uppercase;
    }
    .wrapper {
        max-width: 1100px;
        width: 100%;
        position: relative;
      }
    .wrapper i {
        top: 50%;
        height: 50px;
        width: 50px;
        cursor: pointer;
        font-size: 1.25rem;
        position: absolute;
        text-align: center;
        line-height: 50px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.23);
        transform: translateY(-50%);
        transition: transform 0.1s linear;
    }
    .wrapper i:active{
      transform: translateY(-50%) scale(0.85);
    }
    .wrapper i:first-child{
      left: -22px;
    }
    .wrapper i:last-child{
      right: -22px;
    }
    .wrapper .carousel{
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: calc((100% / 2) - 9px);
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      gap: 16px;
      border-radius: 8px;
      scroll-behavior: smooth;
      scrollbar-width: none;
    }
    .carousel::-webkit-scrollbar {
      display: none;
    }
    .carousel.no-transition {
      scroll-behavior: auto;
    }
    .carousel.dragging {
      scroll-snap-type: none;
      scroll-behavior: auto;
    }
    .carousel.dragging .card {
      cursor: grab;
      user-select: none;
    }
    .carousel :where(.card, .img) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .carousel .card {
      scroll-snap-align: start;
      height: 342px;
      list-style: none;
      background: #b8c1ec;
      cursor: pointer;
      padding-bottom: 15px;
      flex-direction: column;
      border-radius: 8px;
      color: #232946;
    }
    .carousel .card h2 {
      font-weight: 500;
      font-size: 1.56rem;
      margin: 30px 0 5px;
    }
    .carousel .card span {
      color: #6A6D78;
      font-size: 1.31rem;
    }
    .card img{
        width: 100%;
        padding: 3%;
        border-radius: 20px 20px 0px 0px;
      }
      .card a{
        width: 35%;
        height: 10%;
        margin-bottom: 3%;
        cursor: pointer;
        background-color: #232946;
        border: none;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 5px 0px #1d2139;
        transition: all 0.2s;
      }
      .card a:active{
        box-shadow: 0px 0px 0px #000;
        transform: translate(5px,5px);
      }
      .card a{
        text-decoration: none;
      }
      .card a button{
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 3vw;
        font-weight: 600;
        color: #b8c1ec;
      }
      footer{
          width: 100%;
          height: 60vw;
      }
      #foot1{
          width: 100%;
          height: 90%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
      }
      .footbox{
          width: 30%;
          height: 90%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          font-size: 2vw;
          gap: 10%;
          color: #b8c1ec;
          background-color: #1d2139;
          border-radius: 10px;
          box-shadow: 0px 0px 20px #b8c1ec;
          z-index: 1;
          position: relative;
      }
      .footbox h2{
          position: absolute;
          top: 1%;
          color: #b8c1ec;
          text-decoration: underline;
          padding: 5px;
      }
      .footbox img{
          width: 10vw;
          transition: all 0.2s;
      }
      .footbox img:hover{
          border-radius: 100%;
          filter: grayscale(1);
      }
      .footbox div a{
          text-decoration: none;
          color: #b8c1ec;
      }
      #linkstore{
          width: 100%;
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
      }
      .footlink{
          width: 3vw;
          height: 6vh;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-size: 2vw;
          color: #b8c1ec;
          transition: all 0.5s ease-in-out;
      }
      .footlink:hover{
          background-color: #b8c1ec;
          border-radius: 10px;
          color: #232946;
      }
      #foot2{
          width: 100%;
          height: 10%;
          background-color: #121629;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2%;
          color: #b8c1ec;
          font-size: 2vw;
          font-weight: 600;
      }
      #cursor{
        opacity: 0;
        }
    #cursor-circle{
        opacity: 0;
    }
}


@media screen and (max-width:679px){
    #container {
        width: 100%;
        height: 100%;
        background-color: #232946;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #nav{
        width: 100%;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top:1vw;
        z-index: 7;
    }
    #navbar{
        width: 300px;
        height: 5vh;
        background-color: #b8c1ec;
        color: #232946;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 1vw;
        border-radius: 100px;
        box-shadow: 0px 0px 20px #b8c1ec;
    }
    #logo a{
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logo img{
        width: 7vw;
        border-radius: 100%;
        filter: grayscale(1);
    }
    #menu{
        width: 10%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5vw;
        cursor: pointer;
    }
    #menu-bar{
        width: 90%;
        height: 100vh;
        background-color: #b8c1ec90;
        backdrop-filter: blur(10px);
        position: fixed;
        z-index: 7;
        top: 0;
        left: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation-name: menuBar;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-timing-function: 0.5s;
    }
    #menu-bar a{
        width: 100%;
        height: 10%;
        text-decoration: none;
        font-size: 5vw;
        color: #232946;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
    }
    #menu-bar a:hover{
        background-color: #232946;
        color: #b8c1ec;
    }
    .cross{
        font-size: 5vw;
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
    }
    #nav-div{
        width: 0%;
        height: 0%;
        display: none;
    }
    #nav-div ul{
        width:0%;
        height: 0%;
        display: none;
    }
    #switch{
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #home{
        width: 100%;
        height: 88vh;
        display: flex;
    }
    .home-div{
        width: 100%;
    }
    .home-div1{
        height: 70%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 5%;
        color: #b8c1ec;
        z-index: 1;
        padding: 10%;
        padding-top: 10%;
    }
    .home-div1 h1{
        font-size: 32px;
        margin-left: 0px;
    }
    .home-div1 p{
        font-size: 22px;
        margin-left: 0px;
    }
    #bold{
        font-weight: bold;
    }
    #cv{
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5vw;
    }
    #social-media{
        width: 100%;
        height: 10%;
        font-size:8vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10%;
        padding-left: 0px;
    }
    #fbook,#igram,#ldin{
        color: #b8c1ec;
        transition: all 0.5;
    }
    #fbook:hover,#igram:hover,#ldin:hover{
        transform: scale(1.1);
    }
    #chakri{
        display: none;
    }
    #chakri2{
        width: 10vw;
        position: absolute;
        top:85%;
        right:10%;
        z-index: 0;
        opacity: 0;
    }
    #chakri3{
        width: 10vw;
        position: absolute;
        top:45%;
        right:10%;
        z-index: 0;
        opacity: 0;
    }
    .links{
        width: 30vw;
        height: 6vh;
        font-size: 4vw;
        font-weight: 600;
        box-shadow: 5px 5px 0px #121629;
        border: 1px solid #121629;
        border-radius: 10px;
        background-color: #b8c1ec;
        text-decoration: none;
        color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        cursor: pointer;
        z-index: 1;
        margin-left: 0px;
    }
    .font-with-icon{
        font-size:4vw;
    }
    .links:active{
        transform: translate(5px,5px);
        box-shadow: 0px 0px 0px;
        outline: none;
    }
    .home-div2{
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #imgdiv{
        width: 250px;
        height: 250px;
        display: flex;
        flex-wrap: wrap;
        z-index: 1;
    }
    #imgdiv img{
        width: 100%;
        height: 100%;
        filter: grayscale(1);
        cursor: pointer;
    }
    #imgdiv img:hover{
        filter: grayscale(0);
    }
    .img-div{
        width: 50%;
        height: 50%;
    }
    #about{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
    }
    #about-div1{
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #about-img{
        width: 90%;
        border-radius: 50px 0px 50px 0;
        border: 5px solid #b8c1ec;
        opacity: 1;
        box-shadow: 0px 0px 30px #b8c1ec;
    }
    #about-div2{
        width: 100%;
        height: 60%;
        color: #b8c1ec;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: start;
        flex-direction: column;
        gap: auto;
        font-size: 18px;
        font-weight: 600;
        opacity: 1;
    }
    #about-div2 h1{
        text-decoration: underline;
    }
    #about-div2 p{
        width: 80%;
    }
    #welcome{
        width: 100%;
        height: 20vh;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
    }
    .text-area{
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-size: 6.5vw;
        font-weight: 600;
        opacity: .2;
        left: 5%;
        white-space: nowrap;
        width: 100%;
        color: #b8c1ec;
        filter: drop-shadow(0px 0px 20px #b8c1ec);
    }
    .text-area-hover{
        width: 0%;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-size: 6.5vw;
        font-weight: 600;
        opacity: 1;
        left: 5%;
        white-space: nowrap;
        overflow: hidden;
        color: #b8c1ec;
    }
    #skills{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    #skills h1{
        font-size: 18px ;
        position: absolute;
        top: -1%;
        color: #b8c1ec;
        text-decoration: underline;
        text-transform: uppercase;
    }
    .tech{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        flex-wrap: wrap;
        /* gap: 2%; */
        padding: 5%;
    }
    .tech-box{
        width: 30%;
        height: 20%;
        background-color: #b8c1ec;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0px 0px 20px #b8c1ec;
        transition: all 0.5s ease;
        z-index: 1;
        cursor: pointer;
        margin-bottom: 5%;
    }
    .tech-box:hover{
        transform: scale(1.05);
    }
    .progress-text{
        width: 12vw;
        height: 10vh;
        margin-top: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        color: #232946;
    }
    .progress-text i,h2{
        font-size: 3vw;
    }
    [role="progressbar"] {
        --percentage: var(--value);
        --primary: #369;
        --secondary: #adf;
        --size: 100px;
        animation: progress 2s 0.5s forwards;
        width: var(--size);
        aspect-ratio: 1;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        display: grid;
        place-items: center;
      }
    #projects{
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding: 0 35px;
        align-items: center;
        justify-content: space-evenly;
        min-height: 50vh;
    }
    #projects h1{
        color: #b8c1ec;
        text-decoration: underline;
        text-transform: uppercase;
    }
    .wrapper {
        max-width: 1100px;
        width: 100%;
        position: relative;
      }
    .wrapper i {
        top: 50%;
        height: 50px;
        width: 50px;
        cursor: pointer;
        font-size: 1.25rem;
        position: absolute;
        text-align: center;
        line-height: 50px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.23);
        transform: translateY(-50%);
        transition: transform 0.1s linear;
    }
    .wrapper i:active{
      transform: translateY(-50%) scale(0.85);
    }
    .wrapper i:first-child{
      left: -22px;
    }
    .wrapper i:last-child{
      right: -22px;
    }
    .wrapper .carousel{
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: calc((100% / 2) - 9px);
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      gap: 16px;
      border-radius: 8px;
      scroll-behavior: smooth;
      scrollbar-width: none;
    }
    .carousel::-webkit-scrollbar {
      display: none;
    }
    .carousel.no-transition {
      scroll-behavior: auto;
    }
    .carousel.dragging {
      scroll-snap-type: none;
      scroll-behavior: auto;
    }
    .carousel.dragging .card {
      cursor: grab;
      user-select: none;
    }
    .carousel :where(.card, .img) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .carousel .card {
      scroll-snap-align: start;
      height: 342px;
      list-style: none;
      background: #b8c1ec;
      cursor: pointer;
      padding-bottom: 15px;
      flex-direction: column;
      border-radius: 8px;
      color: #232946;
    }
    .carousel .card h2 {
      font-weight: 500;
      font-size: 1.56rem;
      margin: 30px 0 5px;
    }
    .carousel .card span {
      color: #6A6D78;
      font-size: 1.31rem;
    }
    .card img{
        width: 100%;
        padding: 3%;
        border-radius: 20px 20px 0px 0px;
      }
      .card a{
        width: 35%;
        height: 10%;
        margin-bottom: 3%;
        cursor: pointer;
        background-color: #232946;
        border: none;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 5px 0px #1d2139;
        transition: all 0.2s;
      }
      .card a:active{
        box-shadow: 0px 0px 0px #000;
        transform: translate(5px,5px);
      }
      .card a{
        text-decoration: none;
      }
      .card a button{
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 3vw;
        font-weight: 600;
        color: #b8c1ec;
      }
      footer{
        width: 100%;
        height: 100vw;
      }
      #foot1{
          width: 100%;
          height: 90%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
      }
      .footbox{
          width: 45%;
          height: 90%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          font-size: 16px;
          gap: 10%;
          color: #b8c1ec;
          background-color: #1d2139;
          border-radius: 10px;
          box-shadow: 0px 0px 20px #b8c1ec;
          z-index: 1;
          position: relative;
      }
      .footbox p{
        font-size: 2.5vw;
      }
      .footbox h2{
          position: absolute;
          top: 1%;
          color: #b8c1ec;
          text-decoration: underline;
      }
      .footbox img{
          width: 15vw;
          transition: all 0.2s;
      }
      .footbox img:hover{
          border-radius: 100%;
          filter: grayscale(1);
      }
      .footbox div a{
          text-decoration: none;
          color: #b8c1ec;
      }
      .quicklink{
        display: none;
      }
      #linkstore{
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
      }
      .footlink{
          width: 3vw;
          height: 6vh;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-size: 25px;
          color: #b8c1ec;
          transition: all 0.5s ease-in-out;
      }
      .footlink:hover{
          background-color: #b8c1ec;
          border-radius: 10px;
          color: #232946;
      }
      #foot2{
          width: 100%;
          height: 10%;
          background-color: #121629;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2%;
          color: #b8c1ec;
          font-size: 2vw;
          font-weight: 600;
      }

}