/* @media screen and (max-width: 900px){
    #container{
        display: none;
    }
    
#messageBox{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b8c1ec;
}
#MBox{
    width: 70vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.285);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    font-size: 3vw;
}
#MBox button{
    width: 15vw;
    height: 5vh;
    font-size: 2vw;
    background-color: #232946;
    color: #b8c1ec;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 5px 5px 0px #1d2139;
    transition: all 0.3s ;
}
#MBox button:active{
    box-shadow: 0px 0px 0px #000;
    transform: translate(5px,5px);
}

#simg{
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boximg{
    width: 80%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.345);
    backdrop-filter: blur(10px);
}
#simg .boximg img{
    width: 35vw;
}
#simg button{
    margin-top: 2%;
    width: 15vw;
    height: 5vh;
    font-size: 2vw;
    background-color: #232946;
    color: #b8c1ec;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 5px 5px 0px #1d2139;
    transition: all 0.3s ;
}
#simg button:active{
    box-shadow: 0px 0px 0px #000;
    transform: translate(5px,5px);
}
} */