*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container {
    width: 100%;
    height: 100%;
    background-color: #232946;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#nav{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:1vw;
    z-index: 7;
}
#navbar{
    width: 80vw;
    height: 8vh;
    background-color: #b8c1ec;
    color: #232946;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1vw;
    border-radius: 100px;
    box-shadow: 0px 0px 20px #b8c1ec;
    animation: navBarAni 1s ease forwards;
}
@keyframes navBarAni{
    from{
        opacity: 0;
        transform: translate(0px,-100px);
    }
    to{
        opacity: 1;
        transform: translate(0px,0px);
    }
}
#logo a{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo img{
    width: 3vw;
    border-radius: 100%;
    filter: grayscale(1);
}
#menu{
    width: 10%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.7vw;
    cursor: pointer;
}
#menu-bar{
    width: 40vw;
    height: 100vh;
    background-color: #b8c1ec90;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: menuBar;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: 0.5s;
}
#menu-bar a{
    width: 100%;
    height: 10%;
    text-decoration: none;
    font-size: 2vw;
    color: #232946;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
#menu-bar a:hover{
    background-color: #232946;
    color: #b8c1ec;
}
@keyframes menuBar{
    0%{
        transform: translate(-100vw,0);
    }
    100%{
        transform: translate(0,0);
    }
}
.cross{
    font-size: 2.5vw;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
#nav-div{
    width: 55%;
    height: 100%;
}
#nav-div ul{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 5%;
    font-weight: 600;
}
#nav-div ul li a{
    text-decoration: none;
    color: #232946;
}
#switch{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home{
    width: 100%;
    height: 88vh;
    display: flex;
}
.home-div{
    width: 50%;
    height: 100%;
}
.home-div1{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 10vw;
    gap: 5vh;
    color: #b8c1ec;
    z-index: 1;
}
.home-div1 h1{
    font-size: 3vw;
    animation: homeh1 1s ease forwards;
}
@keyframes homeh1{
    from{
        opacity: 0;
        transform: translate(-100px,0px);
    }
    to{
        opacity: 1;
        transform: translate(0px,0px);
    }
}
.home-div1 p{
    font-size: 1vw;
    animation: homeh1 1s ease forwards;
}
#bold{
    font-weight: bold;
}
#cv{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5vw;
    animation: cvAni 1s ease forwards;
}
@keyframes cvAni{
    from{
        opacity: 0;
        transform: translate(100px,0px);
    }
    to{
        opacity: 1;
        transform: translate(0px,0px);
    }
}
#social-media{
    width: 100%;
    height: 6%;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    animation: socialAni 1s ease forwards;   
}
@keyframes socialAni{
    from{
        opacity: 0;
        transform: translate(0px,100px);
    }
    to{
        opacity: 1;
        transform: translate(0px,0px);
    }
}
#fbook,#igram,#ldin{
    color: #b8c1ec;
    transition: all 0.5;
}
#fbook:hover,#igram:hover,#ldin:hover{
    transform: scale(1.1);
}
#chakri{
    width: 8vw;
    position: absolute;
    top: 15%;
    left:25%;
    z-index: 0;
    animation: chakri 1s infinite;
}
#chakri2{
    width: 5vw;
    position: absolute;
    top:75%;
    right:25%;
    z-index: 0;
    animation: chakri 1s infinite;
}
#chakri3{
    width: 5vw;
    position: absolute;
    top:15%;
    right:10%;
    z-index: 0;
    animation: chakri 1s infinite;
}
@keyframes chakri{
    0%{
        transform: rotate(0deg);
    }
    25%,50%,75%,100%{
        transform: rotate(90deg);
    }
}
.links{
    width: 10vw;
    height: 8vh;
    font-size: 1.2vw;
    font-weight: 600;
    box-shadow: 5px 5px 0px #121629;
    border: 1px solid #121629;
    border-radius: 10px;
    background-color: #b8c1ec;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    cursor: pointer;
    z-index: 1;
}
.font-with-icon{
    font-size: 1.4vw;
}
.links:active{
    transform: translate(5px,5px);
    box-shadow: 0px 0px 0px;
    outline: none;
}
.home-div2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#imgdiv{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    animation: imgani 1s ease forwards;
}
@keyframes imgani{
    from{
        scale: 0.5;
    }
    to{
        scale: 1;
    }
}
#imgdiv img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    cursor: pointer;
}
#imgdiv img:hover{
    filter: grayscale(0);
}
.img-div{
    width: 200px;
    height: 200px;
}
#about{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
#about-div1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about-img{
    width: 40vw;
    border-radius: 50px 0px 50px 0;
    border: 5px solid #b8c1ec;
    opacity: 1;
    box-shadow: 0px 0px 30px #b8c1ec;
}
#about-div2{
    width: 50%;
    height: 100%;
    color: #b8c1ec;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    gap: 5%;
    font-size: 1.2vw;
    font-weight: 600;
    opacity: 1;
}
#about-div2 h1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    color: #b8c1ec;
}
#about-div2 p{
    width: 80%;
}
#welcome{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.text-area{
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 6.5vw;
    font-weight: 600;
    opacity: .2;
    left: 2%;
    white-space: nowrap;
    width: 100%;
    color: #b8c1ec;
    filter: drop-shadow(0px 0px 20px #b8c1ec);
}
.text-area-hover{
    width: 0%;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 6.5vw;
    font-weight: 600;
    opacity: 1;
    left: 2%;
    white-space: nowrap;
    overflow: hidden;
    color: #b8c1ec;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.skill1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.skill2{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    color: #b8c1ec;
    margin-top: 1%;
}
.Technical-bars{
    width:70%;
    height: 80%;
}
.bar{
    width: 100%;
    height: 15%;
    font-size: 23px;
    margin-top: 5%;
    color: #232946;
    background-color: #b8c1ec6a;
    padding: 5%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.Technical-bars .bar{
    margin-top: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    opacity: 1;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    transform-origin: left;
    transform: scaleX(1);
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #b8c1ec;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(1);
    transform-origin: left;
}
.html span{
    width: 95%;
}
.css span{
    width: 90%;
}
.javaScript span{
    width: 70%;
}
.java span{
    width: 65%;
}
.react span{
    width: 80%;
}
.boots span{
    width: 90%;
}.progress-line.sql span{
    width: 70%;
}.progress-line.mongo span{
    width: 80%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    opacity: 1;
}
.html span::after{
    content: "95%";
}
.css span::after{
    content: "90%";
}
.javaScript span::after{
    content: "70%";
}
.java span::after{
    content: "65%";
}
.react span::after{
    content: "80%";
}
.boots span::after{
    content: "90%";
}
.mongo span::after{
    content: "80%";
}
.sql span::after{
    content: "70%";
}
.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    opacity: 1;
}
.radial-bars{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    color: #b8c1ec;
}
.radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;  
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: -1;
    stroke-linecap: round;
}
.path{
    stroke-width: 10;
    stroke: #b8c1ec;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
} 
.path-1{
    stroke-dashoffset: 50;
}
.path-2{
    stroke-dashoffset: 175;
}
.path-3{
    stroke-dashoffset: 125;
}
.path-4{
    stroke-dashoffset: 75;
}    
.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    opacity: 1;
}
.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 15%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    opacity: 1;
}
#projects{
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0 35px;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    position: relative;
}
#projects h1{
    margin-top: 1%;
    color: #b8c1ec;
}
#workLink{
    width: 10vw;
    height: 8vh;
    position: absolute;
    top: 20%;
    right: 5%;
    font-size: 1.2vw;
    font-weight: 600;
    box-shadow: 5px 5px 0px #121629;
    border: 1px solid #121629;
    border-radius: 10px;
    background-color: #b8c1ec;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s ease;
    animation: worklink 0.5s infinite linear;
}
@keyframes worklink{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}
#workLink:active{
    transform: translate(5px,5px);
    box-shadow: 0px 0px 0px black;
}
.wrapper {
    /* max-width: 1100px; */
    width: 100%;
    height: 90%;
    position: relative;
  }
.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card,.img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 350px;
  list-style: none;
  background: #b8c1ec;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  color: #232946;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

/* @media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
} */
.card{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card img{
  width: 100%;
  height: 60%;
}
.card h2,a{
    height: 40%;
}
.card a{
    width: 8vw;
    height: 7vw;
  margin-bottom: 3%;
  cursor: pointer;
  background-color: #232946;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 0px #1d2139;
  transition: all 0.2s;
  text-decoration: none;
}
.card a:active{
  box-shadow: 0px 0px 0px #000;
  transform: translate(5px,5px);
}
.card a button{
    width: 100%;
    height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.1vw;
  font-weight: 600;
  color: #b8c1ec;
  cursor: pointer;
}
footer{
    width: 100%;
    height: 45vw;
}
#foot1{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footbox{
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2vw;
    color: #b8c1ec;
    background-color: #1d2139;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #b8c1ec;
    z-index: 1;
    position: relative;
}
.quicklink div{
    margin-top: 40px;
}
.footbox h2{
    position: absolute;
    top: 2%;
    color: #b8c1ec;
    text-decoration: underline;
}
.footbox img{
    width: 10vw;
    transition: all 0.2s;
}
.footbox img:hover{
    border-radius: 100%;
    filter: grayscale(1);
}
.footbox div a{
    text-decoration: none;
    color: #b8c1ec;
}
#linkstore{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footlink{
    width: 3vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2vw;
    color: #b8c1ec;
    transition: all 0.5s ease-in-out;
}
.footlink:hover{
    background-color: #b8c1ec;
    border-radius: 10px;
    color: #232946;
}
#foot2{
    width: 100%;
    height: 10%;
    background-color: #121629;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    color: #b8c1ec;
    font-size: 1.1vw;
    font-weight: 600;
}
/* scroll bar */
&::-webkit-scrollbar {
    width: 1em;
    z-index: 100;
    background-color:#232946;
}
&::-webkit-scrollbar-thumb {
    background-color:#b8c1ec;
    border-width: 2px 0 2px;
    border-style: solid;
    border-color: #b8c1ec;
    box-shadow:0 -100vh 0 100vh #b8c1ec;
 }
/* cursor */
#cursor{
    width: 10px;
    height: 10px;
    background-color: #b8c1ec;
    border-radius: 50%;
    position: fixed;
    transition: 0.1s;
    z-index: 0;
}
#cursor-circle{
    width: 50px;
    height:50px;
    background-color: transparent;
    border: 2px solid #b8c1ec;
    border-radius: 50%;
    position: fixed;
    z-index: 0;
    transition: 0.3s;
    box-shadow: 0px 0px 100px 15px #b8c1ec;
}

/* toggel switch   */
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: all 0.2s linear;
}
  
.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
/* work */
#workcontainer{
    width: 100%;
    height: 100%;
    background-color: #9baaf7;
}
#workhead{
    width: 100%;
    height: 50px;
    background-color: #232946;
    color: #b8c1ec;
    font-size: 2vw;
    text-align: center;
    box-shadow: 0px 20px 20px #232946;
}
#project-con{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    padding-top: 30px;
}
.box{
    width: calc(33.33% - 10px);
    height:55vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #232946;
    color: #b8c1ec;
    font-size: 1.5vw;
    overflow: hidden;
    border: 2px solid #b8c1ec;
}
.worktopdiv{
    width: 100%;
    height: 60%;
    border-bottom: 2px solid #b8c1ec;
}
.worktopdiv img{
    width: 100%;
    height: 100%;
}
.workbotdiv{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.workbotdiv a{
    width: 25%;
    height: 28%;
}
.workbotdiv a button{
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    cursor: pointer;
    color: #232946;
    background-color: #b8c1ec;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #121629;
    transition: all 0.2s ease;
}
.buttonHover span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.buttonHover span:after{
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.buttonHover:hover span{
    padding-right: 25px;
}
.buttonHover:hover span:after{
    color: #232946;
    opacity: 1;
    right: 0;
}
.box a button:active{
    box-shadow: 0px 0px 0px #121629;
    transform: translate(5px,5px);
}
#butoon-con{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}
#butoon-con button{
    width: 10vw;
    height: 7vh;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 0px black;
    transition: all 0.2s ease;
    color: #b8c1ec;
    font-size: 1.5vw;
    background-color: #232946;
    cursor: pointer;
}
#butoon-con button:active{
    box-shadow: 0px 0px 0px black;
    transform: translate(5px,5px);
}
.row1{
    display: flex;
}
.row2{
    display: none;
}
.row3{
    display: none;
}
.row4{
    display: none;
}
.row5{
    display: none;
}
.row6{
    display: none;
}
.row7{
    display: none;
}