*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container {
    width: 100%;
    height: 100%;
    background-color: #232946;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#nav{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:1vw;
    z-index: 7;
}
#navbar{
    width: 80vw;
    height: 8vh;
    background-color: #b8c1ec;
    color: #232946;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1vw;
    border-radius: 100px;
    box-shadow: 0px 0px 20px #b8c1ec;
    animation: navBarAni 1s ease forwards;
}
@keyframes navBarAni{
    from{
        opacity: 0;
        transform: translate(0px,-100px);
    }
    to{
        opacity: 1;
        transform: translate(0px,0px);
    }
}
#logo{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo img{
    width: 3vw;
    border-radius: 100%;
    filter: grayscale(1);
}
#menu{
    width: 10%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.7vw;
    cursor: pointer;
}
#menu-bar{
    width: 40vw;
    height: 100vh;
    background-color: #b8c1ec90;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: menuBar;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: 0.5s;
}
#menu-bar a{
    width: 100%;
    height: 10%;
    text-decoration: none;
    font-size: 2vw;
    color: #232946;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
#menu-bar a:hover{
    background-color: #232946;
    color: #b8c1ec;
}
@keyframes menuBar{
    0%{
        transform: translate(-100vw,0);
    }
    100%{
        transform: translate(0,0);
    }
}
.cross{
    font-size: 2.5vw;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}
#nav-div{
    width: 55%;
    height: 100%;
}
#nav-div ul{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 5%;
    font-weight: 600;
}
#nav-div ul li a{
    text-decoration: none;
    color: #232946;
}
#switch{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home{
    width: 100%;
    height: 88vh;
    display: flex;
}
.home-div{
    width: 50%;
    height: 100%;
}
.home-div1{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 10vw;
    gap: 5vh;
    color: #b8c1ec;
    z-index: 1;
}
.home-div1 h1{
    font-size: 3vw;
    animation: homeh1 1s ease forwards;
}
@keyframes homeh1{
    from{
        opacity: 0;
        transform: translate(-100px,0px);
    }
    to{
        opacity: 1;
        transform: translate(0px,0px);
    }
}
.home-div1 p{
    font-size: 1vw;
    animation: homeh1 1s ease forwards;
}
#bold{
    font-weight: bold;
}
#cv{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5vw;
    animation: cvAni 1s ease forwards;
}
@keyframes cvAni{
    from{
        opacity: 0;
        transform: translate(100px,0px);
    }
    to{
        opacity: 1;
        transform: translate(0px,0px);
    }
}
#social-media{
    width: 100%;
    height: 6%;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    animation: socialAni 1s ease forwards;   
}
@keyframes socialAni{
    from{
        opacity: 0;
        transform: translate(0px,100px);
    }
    to{
        opacity: 1;
        transform: translate(0px,0px);
    }
}
#fbook,#igram,#ldin{
    color: #b8c1ec;
    transition: all 0.5;
}
#fbook:hover,#igram:hover,#ldin:hover{
    transform: scale(1.1);
}
#chakri{
    width: 8vw;
    position: absolute;
    top: 15%;
    left:25%;
    z-index: 0;
    animation: chakri 1s infinite;
}
#chakri2{
    width: 5vw;
    position: absolute;
    top:75%;
    right:25%;
    z-index: 0;
    animation: chakri 1s infinite;
}
#chakri3{
    width: 5vw;
    position: absolute;
    top:15%;
    right:10%;
    z-index: 0;
    animation: chakri 1s infinite;
}
@keyframes chakri{
    0%{
        transform: rotate(0deg);
    }
    25%,50%,75%,100%{
        transform: rotate(90deg);
    }
}
.links{
    width: 10vw;
    height: 8vh;
    font-size: 1.2vw;
    font-weight: 600;
    box-shadow: 5px 5px 0px #121629;
    border: 1px solid #121629;
    border-radius: 10px;
    background-color: #b8c1ec;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    cursor: pointer;
    z-index: 1;
}
.font-with-icon{
    font-size: 1.4vw;
}
.links:active{
    transform: translate(5px,5px);
    box-shadow: 0px 0px 0px;
    outline: none;
}
.home-div2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#imgdiv{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    animation: imgani 1s ease forwards;
}
@keyframes imgani{
    from{
        opacity: 0;
        transform: translate(100px,0px);
    }
    to{
        opacity: 1;
        transform: translate(0px,0px);
    }
}
#imgdiv img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    cursor: pointer;
}
#imgdiv img:hover{
    filter: grayscale(0);
}
.img-div{
    width: 200px;
    height: 200px;
}
#about{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
#about-div1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about-img{
    width: 40vw;
    border-radius: 50px 0px 50px 0;
    border: 5px solid #b8c1ec;
    opacity: 1;
    box-shadow: 0px 0px 30px #b8c1ec;
}
#about-div2{
    width: 50%;
    height: 100%;
    color: #b8c1ec;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    gap: 5%;
    font-size: 1.2vw;
    font-weight: 600;
    opacity: 1;
}
#about-div2 h1{
    text-decoration: underline;
}
#about-div2 p{
    width: 80%;
}
#welcome{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.text-area{
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 6.5vw;
    font-weight: 600;
    opacity: .2;
    left: 2%;
    white-space: nowrap;
    width: 100%;
    color: #b8c1ec;
    filter: drop-shadow(0px 0px 20px #b8c1ec);
}
.text-area-hover{
    width: 0%;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 6.5vw;
    font-weight: 600;
    opacity: 1;
    left: 2%;
    white-space: nowrap;
    overflow: hidden;
    color: #b8c1ec;
}
#skills{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#skills h1{
    position: absolute;
    top: -3%;
    color: #b8c1ec;
    text-decoration: underline;
    text-transform: uppercase;
}
.tech{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}
.tech-box{
    width: 15%;
    height: 35%;
    background-color: #b8c1ec;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #b8c1ec;
    transition: all 0.5s ease;
    z-index: 1;
    cursor: pointer;
    margin-inline: 2%;
}
.tech-box:hover{
    transform: scale(1.05);
}
.progress-text{
    width: 12vw;
    height: 10vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    color: #232946;
}
.progress-text i,h1{
    font-size: 2vw;
}
#projects{
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0 35px;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}
#projects h1{
    margin-top: 1%;
    color: #b8c1ec;
    text-decoration: underline;
    text-transform: uppercase;
}
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #b8c1ec;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  color: #232946;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

/* @media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
} */
.card img{
  width: 100%;
  padding: 3%;
  border-radius: 20px 20px 0px 0px;
}
.card a{
  width: 35%;
  height: 10%;
  margin-bottom: 3%;
  cursor: pointer;
  background-color: #232946;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 0px #1d2139;
  transition: all 0.2s;
}
.card a:active{
  box-shadow: 0px 0px 0px #000;
  transform: translate(5px,5px);
}
.card a{
  text-decoration: none;
}
.card a button{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.1vw;
  font-weight: 600;
  color: #b8c1ec;
}
footer{
    width: 100%;
    height: 45vw;
}
#foot1{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footbox{
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2vw;
    gap: 10%;
    color: #b8c1ec;
    background-color: #1d2139;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #b8c1ec;
    z-index: 1;
    position: relative;
}
.footbox h2{
    position: absolute;
    top: 5%;
    color: #b8c1ec;
    text-decoration: underline;
    padding: 5px;
}
.footbox img{
    width: 10vw;
    transition: all 0.2s;
}
.footbox img:hover{
    border-radius: 100%;
    filter: grayscale(1);
}
.footbox div a{
    text-decoration: none;
    color: #b8c1ec;
}
#linkstore{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footlink{
    width: 3vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2vw;
    color: #b8c1ec;
    transition: all 0.5s ease-in-out;
}
.footlink:hover{
    background-color: #b8c1ec;
    border-radius: 10px;
    color: #232946;
}
#foot2{
    width: 100%;
    height: 10%;
    background-color: #121629;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    color: #b8c1ec;
    font-size: 1.1vw;
    font-weight: 600;
}
/* mobile message */
#messageBox{
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #b8c1ec;
}
#MBox{
    width: 70vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.285);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    font-size: 3vw;
}
#MBox button{
    width: 15vw;
    height: 5vh;
    font-size: 2vw;
    background-color: #232946;
    color: #b8c1ec;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 5px 5px 0px #1d2139;
    transition: all 0.3s ;
}
#MBox button:active{
    box-shadow: 0px 0px 0px #000;
    transform: translate(5px,5px);
}

#simg{
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boximg{
    width: 80%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.345);
    backdrop-filter: blur(10px);
}
#simg .boximg img{
    width: 35vw;
}
#simg button{
    margin-top: 2%;
    width: 15vw;
    height: 5vh;
    font-size: 2vw;
    background-color: #232946;
    color: #b8c1ec;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 5px 5px 0px #1d2139;
    transition: all 0.3s ;
}
#simg button:active{
    box-shadow: 0px 0px 0px #000;
    transform: translate(5px,5px);
}
/* scroll bar */
&::-webkit-scrollbar {
    width: 1em;
    z-index: 100;
    background-color:#232946;
}
&::-webkit-scrollbar-thumb {
    background-color:#b8c1ec;
    border-width: 2px 0 2px;
    border-style: solid;
    border-color: #b8c1ec;
    box-shadow:0 -100vh 0 100vh #b8c1ec;
 }
/* cursor */
#cursor{
    width: 10px;
    height: 10px;
    background-color: #b8c1ec;
    border-radius: 50%;
    position: fixed;
    transition: 0.1s;
    z-index: 0;
}
#cursor-circle{
    width: 50px;
    height:50px;
    background-color: transparent;
    border: 2px solid #b8c1ec;
    border-radius: 50%;
    position: fixed;
    z-index: 0;
    transition: 0.3s;
    box-shadow: 0px 0px 100px 15px #b8c1ec;
}

/* toggel switch   */
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
  
.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
/* skillls */

/* @keyframes progress {
  0% { --percentage: 0; }
  100% { --percentage: var(--value); }
} */

@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: #369;
  --secondary: #adf;
  --size: 5vw;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}